language: python
os: linux
dist: xenial
cache:
  - pip
  - directories:
    - $HOME/.pyenv/versions/

install:
  - pip install -U tox 'virtualenv>19'

script:
  - tox

after_success:
  - bash <(curl -s https://codecov.io/bash) -f coverage.xml

jobs:
  include:
    - stage: test
      env: TOXENV=py36
      python: 3.6
    - stage: test
      env: TOXENV=py37
      python: 3.7
    - stage: test
      env: TOXENV=py38
      python: 3.8

    # OSX tests:
    - stage: test
      os: osx
      env: TOXENV=py36
      before_install:
        - ulimit -n
        - ulimit -n 4096
        - eval "$(pyenv init -)"
        - pyenv install -l
        - pyenv install --skip-existing 3.6.12
        - pyenv global 3.6.12
        - pyenv rehash
        - python --version
        - python3 --version
        - pip3 --version
        - pip --version
      language: shell
    - stage: test
      os: osx
      env: TOXENV=py37
      before_install:
        - ulimit -n
        - ulimit -n 4096
        - eval "$(pyenv init -)"
        - pyenv install -l
        - pyenv install --skip-existing 3.7.9
        - pyenv global 3.7.9
        - pyenv rehash
        - python --version
        - python3 --version
        - pip3 --version
        - pip --version
      language: shell
    - stage: test
      os: osx
      env: TOXENV=py38
      before_install:
        - ulimit -n
        - ulimit -n 4096
        - eval "$(pyenv init -)"
        - pyenv install -l
        - pyenv install --skip-existing 3.8.6
        - pyenv global 3.8.6
        - pyenv rehash
        - python --version
        - python3 --version
        - pip3 --version
        - pip --version
      language: shell

    - stage: test
      env: TOXENV=numba_coverage
      python: 3.7
    - stage: test
      env: TOXENV=mypy
      python: 3.7
    - stage: test
      env: TOXENV=flake8
      python: 3.7
    - stage: test
      env: TOXENV=qa
      python: 3.7
    - stage: test
      env: TOXENV=docs-check
      python: 3.7
      install:
        - pip install tox
        - sudo apt-get install -y pandoc

    - stage: packaging
      env: TOXENV=docs-deploy
      python: 3.7
      install:
        - pip install -U tox 'virtualenv>19'
        - sudo apt-get install -y pandoc

    - stage: packaging
      python: 3.7
      install:
        - pip install -r scripts/requirements.txt
      script:
        - python scripts/release upload --pypi-test-user=libertem_bot --pypi-user=libertem_bot --no-dry-run
  
  allow_failures:
    - env: TOXENV=mypy    
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/
    - /^v[0-9]+\.[0-9]+\.[0-9]+/
