sphinx>=5,<5.1
sphinx-autobuild
sphinxcontrib-bibtex>=2
# https://github.com/sloria/sphinx-issues/issues/125
sphinx-issues!=3.0.0
sphinx-rtd-theme
nbsphinx!=0.8.8
nbsphinx_link
ipython
# temporary for https://github.com/jupyter/nbconvert/issues/2092
nbconvert<7.14
